body{
  background-color: black;
}
.all{
	max-width: 500px;
	padding: 10px 20px;
	background: #f4f7f8;
	margin: 10px auto;
	padding: 20px;
	background: #f4f7f8;
	border-radius: 8px;
	font-family: Georgia, "Times New Roman", Times, serif;
}
.all fieldset{
	border: none;
}
.all legend {
	font-size: 1.4em;
	margin-bottom: 10px;
}
.all label {
	display: block;
	margin-bottom: 8px;
}
.all input[type="text"],
.all input[type="email"],
.all input[type="password"],
.all input[type="password"],

.all select {
	font-family: Georgia, "Times New Roman", Times, serif;
	background: rgba(255,255,255,.1);
	border: none;
	border-radius: 4px;
	font-size: 15px;
	margin: 0;
	outline: 0;
	padding: 10px;
	width: 100%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	background-color: #e8eeef;
	color:#8a97a0;
	-webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	margin-bottom: 30px;
}
.all input[type="email"]:focus,
.all input[type="text"]:focus,
.all input[type="password"]:focus,
.all input[type="password"]:focus,
.all select:focus{
	background: #d2d9dd;
}
.all select{
	-webkit-appearance: menulist-button;
	height:35px;
}
.all input[type="button"]
{
  background-color: lightblue;
}
.all input[type="button"]:hover,
{

	background: #109177;
}
