table {
  border-collapse: collapse;
  width: 45%;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tr:hover {background-color:#f5f5f5;}

#header{
	background-color: #284861;
	color: white;
	text-align: center;
	padding: 5px;
}
#navbar {
  float: left;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
	width: 14%;
}
ul {
	list-style-type:none;
  padding: 0px;
}
li a {
	
  display: block;
	color:white;
	background-color: #284861;
  padding: 14px 16px;
	text-decoration: none;
}

li a:hover {
  background-color: #111;
}

#footer {
	background-color: #284861;
	color: white;
	clear: both;
	text-align: center;
	padding: 10px;
}


.all{
	border: 1px solid #ccc;
	max-width: 500px;
	padding: 10px 20px;
	background: #f4f7f8;
	margin: 10px auto;
	padding: 20px;
	background: #f4f7f8;
	border-radius: 8px;
  font-family: Georgia, "Times New Roman", Times, serif;
  float: right;
}
.all fieldset{
	border: none;
}
.all legend {
	font-size: 1.4em;
	margin-bottom: 10px;
}
.all input[type="text"],
.all select {
	font-family: Georgia, "Times New Roman", Times, serif;
	background: rgba(255,255,255,.1);
	border: none;
	border-radius: 4px;
	font-size: 15px;
	margin: 0;
	outline: 0;
	padding: 10px;
	width: 100%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	background-color: #e8eeef;
	color:#8a97a0;
	-webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	margin-bottom: 30px;

}
.all textarea:focus,
.all input[type="button"]
{
  background-color: lightblue;
}
.all input[type="button"]:hover,
{

	background: #109177;
}
.all textarea{
  	background-color: #e8eeef;
}
